{% extends "base.html" %}
{% block title %}Account Management{% endblock %}
{% block content%}
<br />
<h1 align="center">{% block header1 %}Account Management{% endblock %}</h1>
<br />
<div align="center">
    <form method="POST" action="/delete-account/{{user.id}}" onsubmit="return confirm('Are you sure you want to delete your account? This action cannot be undone.');">
        <button type="submit" class="btn btn-lg btn-danger">
            Delete Account
        </button>
    </form>
</div>

{% endblock %}