{% extends 'base.html' %}
{% set title = 'Trapping Methods' %}
{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<h1 style="text-align: center">Crayfish Caught Using Different Trapping Methods</h1>
<form>
<button type="submit" formaction="/crayfish1/download" class="btn"> <i class="fa fa-download"></i> Download Database 1</button>
</form>
<br>
<p>We have data for the following methods</p>
<ul>
    {% for crayfish1 in crayfish_list %}
    <li>{{ crayfish1['id'] }} {{ crayfish1['site'] }} {{ crayfish1['method'] }} {{ crayfish1['gender'] }} {{ crayfish1['length'] }}mm</li>
    {% endfor %}
</ul>
{% endblock %}
