{% extends 'base.html' %}
{% set title = 'Crayfish with weight' %}
{% block content %}

<h1>Crayfish Caught Using Different Trapping Methods</h1>
<button class="btn" onclick="location.href='/crayfish2/download'"><i class="fa fa-download"></i> Database 2 Download</button>
<p>We have data for the following crayfish</p>
<ul>
    {% for crayfish2 in crayfish_list %}
    <li>{{ crayfish2['id'] }} {{ crayfish2['site'] }} {{ crayfish2['gender'] }} {{ crayfish2['length'] }}mm {{ crayfish2['weight'] }}g</li>
    {% endfor %}
</ul>

{% endblock %}