{% extends 'base.html' %}
{% set title = 'Crayfish with weight' %}
{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<h1>Crayfish with weight and length</h1>
<form>
<button type="submit" formaction="/crayfish2/download" class="btn"> <i class="fa fa-download"></i> Click me</button>
</form>
<p>We have data for the following crayfish</p>
<ul>
    {% for crayfish2 in crayfish_list %}
    <li>{{ crayfish2['id'] }} {{ crayfish2['site'] }} {{ crayfish2['gender'] }} {{ crayfish2['length'] }}mm {{ crayfish2['weight'] }}g</li>
    {% endfor %}
</ul>

{% endblock %}