{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content%}
<br />
<h1 align="center">{% block header1 %}Home{% endblock %}</h1>
<div class="card border-0">
    <div class="card-body">
      <div class="card-group border-light">
        <div class="card-body">
            <div class="card-group">
              <div class="card-group">
                  <div class="card">
                    <img src="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/image_data/file/139418/web_crayfish_2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Protect Ecosystems</h5>
                      <p class="card-text">Increasing populations of invasive signal crayfish can harm ecosystems and biodiversity.</p>
                      <p class="card-text"><small class="text-body-secondary"></small></p>
                    </div>
                  </div>
                  <div class="card">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/72/Signal_crayfish_female_Pacifastacus_leniusculus.JPG/800px-Signal_crayfish_female_Pacifastacus_leniusculus.JPG" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Monitor Populations</h5>
                      <p class="card-text">Monitoring signal crayfish populations is important for both scientists and fishermen.</p>
                      <p class="card-text"><small class="text-body-secondary"></small></p>
                    </div>
                  </div>
                  <div class="card">
                    <img src="https://st2.depositphotos.com/1075946/7097/i/600/depositphotos_70975345-stock-photo-student-taking-sample-of-water.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Data Dashboard</h5>
                      <p class="card-text">The dashboard aims to help scientists monitor crayfish populations and help fishermen identify specific populations of crayfish so that they can fish more sustainably.</p>
                      <p class="card-text"><small class="text-body-secondary"></small></p>
                    </div>
                  </div>
                </div>
            </div>
          </div>
      </div>
    </div>
  </div>
{% endblock %}
