{% extends "base.html" %}
{% block title %}Account Management{% endblock %}
{% block content%}
<div class="d-flex justify-content-center align-items-center" style="height:50vh">
    <div class="card border-0" style="max-width: 1600px;">
      <div class="card-body">
        <form method="POST">
          <h1 class="card-title text-center">Reset Password</h1>
          <div class="form-group">            
            <label for="new_password1">Enter New Password</label>
            <input
                type="password"
                id="reset_password1"
                name="reset_password1"
                class="form-control"
                placeholder="Enter New Password"
            />
            <label for="reset_password2">Confirm New Password</label>
            <input
                type="password"
                id="reset_password2"
                name="reset_password2"
                class="form-control"
                placeholder="Confirm New Password"
            />
            <br />
            <div ><button class="btn btn-primary" type="submit">Change Password</button></div>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
